@use 'vars';

.u-btn {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  position: relative;
  display: inline-flex;
  font-size: 1.5rem;
  margin-inline: auto;
  width: max-content;
  transition: color 200ms ease-in-out;
  @include vars.breakpoint(m) {
    margin-inline: 0;
  }
  &:hover {
    text-decoration: none;
  }
  &:before {
    content: "";
    width: 100%;
    bottom: -10px;
    position: absolute;
    height: 1px;
  }
  &:after {
    position: absolute;
    top: 1px;
    right: -1.5rem;
  }
  &-dark {
    color: vars.$color-aqua-green;
    &:hover {
      color: vars.$color-dark-gray;
    }
    &:before {
      background-color: vars.$color-aqua-green
    }
    &:after {
      content: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99991 5.9992C7.00171 6.12441 6.97759 6.24866 6.92903 6.3643C6.88048 6.47995 6.8085 6.58455 6.71755 6.67166L1.62378 11.7195C1.53593 11.8083 1.43105 11.8789 1.31527 11.927C1.19949 11.9752 1.07515 12 0.949545 12C0.823941 12 0.699602 11.9752 0.583823 11.927C0.468043 11.8789 0.363155 11.8083 0.275312 11.7195C0.0989429 11.5434 4.34186e-07 11.3056 4.23803e-07 11.0577C4.13419e-07 10.8098 0.0989429 10.572 0.275312 10.3959L4.72081 6.00045L0.275312 1.60251C0.0989425 1.42641 1.03833e-08 1.18856 0 0.94069C-1.03833e-08 0.69282 0.0989425 0.454973 0.275312 0.27887C0.363418 0.190537 0.468392 0.120399 0.584135 0.0725257C0.699879 0.0246529 0.824087 5.72235e-09 0.949544 0C1.075 -5.72235e-09 1.19921 0.0246529 1.31495 0.0725257C1.4307 0.120398 1.53567 0.190537 1.62378 0.27887L6.71755 5.31672C6.80703 5.4044 6.87805 5.50876 6.92652 5.62375C6.97498 5.73874 6.99992 5.86209 6.99991 5.98668V5.9992Z' fill='%2300B59F'/%3E%3C/svg%3E%0A");
    }
  }
  &-light {
    color: vars.$color-white;
    &:hover {
      color: vars.$color-aqua-green;
    }
    &:before {
      background-color: vars.$color-white;
    }
    &:after {
      content: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99991 5.9992C7.00171 6.12441 6.97759 6.24866 6.92903 6.3643C6.88048 6.47995 6.8085 6.58455 6.71755 6.67166L1.62378 11.7195C1.53593 11.8083 1.43105 11.8789 1.31527 11.927C1.19949 11.9752 1.07515 12 0.949545 12C0.823941 12 0.699602 11.9752 0.583823 11.927C0.468043 11.8789 0.363155 11.8083 0.275312 11.7195C0.0989429 11.5434 4.34186e-07 11.3056 4.23803e-07 11.0577C4.13419e-07 10.8098 0.0989429 10.572 0.275312 10.3959L4.72081 6.00045L0.275312 1.60251C0.0989425 1.42641 1.03833e-08 1.18856 0 0.94069C-1.03833e-08 0.69282 0.0989425 0.454973 0.275312 0.27887C0.363418 0.190537 0.468392 0.120399 0.584135 0.0725257C0.699879 0.0246529 0.824087 5.72235e-09 0.949544 0C1.075 -5.72235e-09 1.19921 0.0246529 1.31495 0.0725257C1.4307 0.120398 1.53567 0.190537 1.62378 0.27887L6.71755 5.31672C6.80703 5.4044 6.87805 5.50876 6.92652 5.62375C6.97498 5.73874 6.99992 5.86209 6.99991 5.98668V5.9992Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }
}

.btn-anchor {
  width: 69px;
  height: 40px;
  display: none;
  margin: 0 auto;
  position: relative;
  bottom: 4rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='69' height='40' viewBox='0 0 69 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.5046 39.9995C33.7847 40.0098 33.0702 39.8719 32.4053 39.5945C31.7403 39.317 31.1388 38.9057 30.6379 38.386L1.61272 9.27872C1.10217 8.77676 0.696529 8.1774 0.419592 7.51581C0.142655 6.85421 0 6.1437 0 5.42597C0 4.70823 0.142655 3.99772 0.419592 3.33613C0.696529 2.67453 1.10217 2.07517 1.61272 1.57321C2.62532 0.565386 3.99294 0 5.41819 0C6.84344 0 8.21106 0.565386 9.22365 1.57321L34.4974 26.9761L59.7856 1.57321C60.7982 0.565386 62.1658 0 63.591 0C65.0163 0 66.3839 0.565386 67.3965 1.57321C67.9044 2.07668 68.3077 2.67652 68.583 3.33792C68.8582 3.99931 69 4.70907 69 5.42597C69 6.14287 68.8582 6.85262 68.583 7.51401C68.3077 8.1754 67.9044 8.77525 67.3965 9.27872L38.4289 38.386C37.9247 38.8973 37.3246 39.3032 36.6634 39.5801C36.0022 39.857 35.293 39.9996 34.5766 39.9995H34.5046Z' fill='white'/%3E%3C/svg%3E%0A");
  @include vars.breakpoint(m) {
    display: inline-block;
  }
}