@use 'vars';

footer {
  padding: 5rem 0 2.5rem;
  .row {
    display: block;
    @include vars.breakpoint(m) {
      display: flex;
      align-items: center;
    }
  }
}

.btn-group-social {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.footer-logo,
.footer-social,
.footer-phone-link {
  display: flex;
  flex-direction: column;
}

.btn-social {
  svg path {
    transition: 200ms fill ease-in-out;
  }
  &:hover {
    svg path {
      fill: vars.$color-aqua-green
    }
  }
}

.footer-logo {
  align-items: center;
  @include vars.breakpoint(m) {
    align-items: start;
  }
}

.footer-social {
  padding: 5rem 0;
  @include vars.breakpoint(m) {
    padding: 0 15px;
  }
}

.footer-phone-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  @include vars.breakpoint(m) {
    align-items: end;
  }
}

.copyright {
  text-align: center;
  margin: 3rem auto 0;
  font-size: 1rem;
}