@use 'vars';

.top-nav {
  padding: 3rem 0;
  background-color: vars.$color-dark-gray;
  &--left, &--right {
    display: flex;
    flex-direction: column;
  }
  &--left {
    align-items: center;
    @include vars.breakpoint(s) {
      align-items: start;
    }
  }
  &--right {
    align-items: center;
    padding-top: 3rem;
    @include vars.breakpoint(s) {
      align-items: end;
      padding-top: 0.5rem;
    }
  }
}

.logo {
  width: 20rem;
  height: auto;
}

.header-phone-link {
  display: flex;
  gap: 1rem;
  color: white;
  transition: color 200ms ease-in-out;
  svg path {
    transition: fill 200ms ease-in-out;
  }
  &:hover {
    color: vars.$color-aqua-green;
    text-decoration: none;
    svg path {
      fill: vars.$color-aqua-green;
    }
  }
}