@use 'vars';

.hero-section {
  position: relative;
  display: flex;
  height: 25vh;
  padding: 0 vars.$gutter-mobile;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: top;
  @include vars.breakpoint(m) {
    height: 50vh;
  }
  @include vars.breakpoint(l) {
    height: 90vh;
  }
  img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

.u-tout {
  text-align: center;
  padding-top: 2rem;
  @include vars.breakpoint(m) {
    padding-top: 0;
  }
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3){
    border-right: none;
    @include vars.breakpoint(m) {
      border-right: 1px solid vars.$color-dark-gray;
    }
  }

  h3 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    @include vars.breakpoint(l) {
      font-size: 4rem;
    }
  }
  p {
    margin: 0 auto;
  }
}

.section--who-we-are {
  p {
    padding: 0 2rem;
    @include vars.breakpoint(m) {
      padding: 0;
    }
  }
}

.section--schedule {
  .row {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include vars.breakpoint(m) {
      display: flex;
      flex-direction: row;
    }
    .col-md-6 {
      display: flex;
      flex-direction: column;
      &:first-child {
        @include vars.breakpoint(m) {
          padding-right: 2rem;
        }
      }
    }
  }
}

.logo-avvo {
  width: 6rem;
  height: auto;
  display: flex;
  position: relative;
  right: 10rem;
}
