@use 'vars';

.section-padding-x {
  padding: 5rem 0;
  @include vars.breakpoint(m) {
    padding: 10rem 0;
  }
}

.pt-lg--m {
  padding-top: 5rem;
  @include vars.breakpoint(m) {
    padding-top: 0;
  }
}

.mt-lg--m {
  margin-top: 5rem;
  @include vars.breakpoint(m) {
    padding-top: 0;
  }
}

.mt-m {
  margin-top: 2.5rem;
}

.mt-lg {
  margin-top: 5rem;
}

.mb-0 {
  margin-bottom: 0;
}