@use 'vars';

.u-no-padding {
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}

.bg--dark-gray {
  background: rgb(57,62,70);
  background: radial-gradient(circle, rgba(57,62,70,1) 0%, rgba(34,34,34,1) 100%);
  color: vars.$color-white;
}

.bg--black {
  background-color: vars.$color-black;
  color: vars.$color-white;
}

.logo-small {
  width: 30rem;
  height: auto;
}

.flex-row {
  display: flex;
  position: relative;
  flex-direction: column;
  @include vars.breakpoint(m) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.section-tall {
  height: auto;
  @include vars.breakpoint(m) {
    height: 48rem;
  }
}

.border-right {
  border-right: solid vars.$color-dark-gray 1px;
}

.col-vertical-line {
  left: 50%;
  top: 50%;
  position: absolute;
  height: 60%;
  width: 1px;
  background: vars.$color-dark-gray;
  transform: translate(-50%, -50%);
  display: none;
  @include vars.breakpoint(m) {
    display: block;
  }
}

.u-text-center {
  text-align: center;
  margin-inline: auto;
}

.u-text-center--mobile {
  text-align: center;
  margin-inline: auto;
  @include vars.breakpoint(m) {
    text-align: left;
    margin-inline: unset;
  }
}

.u-align-center--mobile {
  margin-inline: auto;
}

.u-margin-reset {
  margin-inline: unset;
}

.u-img-content {
  padding-left: 0;
  padding-right: 0;
}

.section-padding-bottom {
  padding: 0 0 5rem;
  @include vars.breakpoint(s) {
    padding: 5rem 0;
  }
  @include vars.breakpoint(m) {
    padding: 10rem 0;
  }
}

.section-padding-x {
  padding: 5rem 0;
  @include vars.breakpoint(m) {
    padding: 10rem 0;
  }
}

.pt-lg--m {
  padding-top: 5rem;
  @include vars.breakpoint(m) {
    padding-top: 0;
  }
}

.pb-xl {
  padding-bottom: 5rem;
  @include vars.breakpoint(m) {
    padding-bottom: 10rem;
  }
}

.mt-lg--m {
  margin-top: 5rem;
  @include vars.breakpoint(m) {
    padding-top: 0;
  }
}

.mt-m {
  margin-top: 2.5rem;
}

.mt-lg {
  margin-top: 5rem;
}

.mb-0 {
  margin-bottom: 0;
}

