@use 'vars';
@use 'buttons';
@use 'lists';
@use 'utilities';
@use 'layouts';
@use 'nav';
@use 'footer';
@use 'sections';

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", serif;
  font-size: 15px;
  min-width: 360px;
}

img, svg {
  max-width: 100%;
}

a {
  color: vars.$color-aqua-green
}

p {
  max-width: 40ch;
}

h1 {
  color: white;
  text-align: center;
  font-size: 4rem;
  line-height: 1.35;
  font-weight: 200;
  max-width: 20ch;
  margin: auto;
  @include vars.breakpoint(m) {
    font-size: 7rem;
  }
  @include vars.breakpoint(l) {
    font-size: 9rem;
  }
}

h2 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.3;
}
