@use 'vars';
@use 'spacing';
@use 'buttons';
@use 'lists';
@use 'utilities';
@use 'nav';
@use 'sections';

body {
  font-family: "Poppins", serif;
  font-size: 15px;
  min-width: 360px;
}

img, svg {
  max-width: 100%;
}

a {
  color: vars.$color-aqua-green
}


h1 {
  color: white;
  text-align: center;
  font-size: 4rem;
  line-height: 1.35;
  font-weight: 200;
  max-width: 20ch;
  margin: auto;
  @include vars.breakpoint(m) {
    font-size: 7rem;
  }
  @include vars.breakpoint(l) {
    font-size: 9rem;
  }
}

h2 {
  margin-top: 0;
  font-weight: 700;
}

.flex-col {
  text-align: center;
  margin-inline: auto;
  @include vars.breakpoint(m) {
    text-align: left;
    margin-inline: 0;
  }
  p {
    max-width: 60ch;
  }
}

.row--two-col {
  display: flex;
  .flex-col {
    position: relative;
    &--img {
      min-height: 100%;
    }
  }
}

.inner {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 5%;
}

.u-row {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  @include vars.breakpoint(m) {
    grid-template-columns: 1fr 1fr;
  }
  .u-col {
    display: flex;
    flex-direction: column;
    &--content {
      order: 2;
      @include vars.breakpoint(m) {
        order: 1;
      }
      p {
        margin-bottom: 0;
      }
    }
    &--img {
      height: 20vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      order: 1;

      @include vars.breakpoint(m) {
        order: 2;
      }
    }
    @include vars.breakpoint(m) {
      flex: 1;
      height: auto;
    }

  }
}










